// Colours
$white: #ffffff;
$lightGray: #f3f3f3;
$black: #0a0a0a;

$primary: #afc97e;
$secondary: #f9f9f9;

// Misc
$borderRadius: 5px;
$gradient: linear-gradient(314deg, rgba(251,251,251,1) 70%, rgba(229,228,228,1) 100%);
$boxShadow: 3px 3px 24px #00251226;
